Apache_Nifi/Querying_csv_data.json
{"flowContents":{"identifier":"5449ecc2-1637-3ac9-8716-447ce23df33d","instanceIdentifier":"ad9bfca5-0195-1000-30b5-e13e8afd4b7e","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"478c6321-7ac0-3d17-9995-eee533c0a370","instanceIdentifier":"c651ef7e-0195-1000-a058-53e486e465c8","name":"GetFile","comments":"","position":{"x":1453.9847999999995,"y":-130.13792000000018},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/Users/vinaysaireddymandala/Downloads/Python_Data_Engineering/nifi-2.3.0/tmp/data","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"false","File Filter":"data.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"5 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5449ecc2-1637-3ac9-8716-447ce23df33d"},{"identifier":"f9b2bc82-8807-38ba-80f4-3b381bb75208","instanceIdentifier":"c6570b89-0195-1000-d9a9-3901527fd20c","name":"SplitRecord","comments":"","position":{"x":1456.0,"y":80.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Record Writer":"f183167e-e006-36e8-a215-cf25aa7bd78b","Record Reader":"b5908074-2c3e-3eb1-bd6b-0211d2b51d2e","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5449ecc2-1637-3ac9-8716-447ce23df33d"},{"identifier":"230df01b-44c5-3e5f-9063-46e276df7967","instanceIdentifier":"c65f686f-0195-1000-bb65-2361e97d98fb","name":"ExtractText","comments":"","position":{"x":2088.0,"y":312.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Sales":"\\n([^,]*),","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable named group support":{"name":"Enable named group support","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sales":{"name":"Sales","displayName":"Sales","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Enable repeating capture group":{"name":"Enable repeating capture group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5449ecc2-1637-3ac9-8716-447ce23df33d"},{"identifier":"3d547f27-c188-335b-8a4b-11c203f9b689","instanceIdentifier":"adabed70-0195-1000-b3dc-9444c40dc72a","name":"PutFile","comments":"","position":{"x":0.0,"y":-16.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/Users/vinaysaireddymandala/Downloads/Python_Data_Engineering/nifi-2.3.0/tmp/input","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5449ecc2-1637-3ac9-8716-447ce23df33d"},{"identifier":"1ed73ac2-e17b-33f5-96da-c46c502be282","instanceIdentifier":"c6675b70-0195-1000-07d8-de52ec431a0c","name":"UpdateAttribute","comments":"","position":{"x":2088.0,"y":80.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"filename":"{Sales}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5449ecc2-1637-3ac9-8716-447ce23df33d"},{"identifier":"07cfab48-fe75-35f9-9d2a-774437b12371","instanceIdentifier":"adab878e-0195-1000-c0af-c173efdff6f2","name":"GenerateFlowFile","comments":"","position":{"x":-7.0,"y":-218.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"character-set":"UTF-8","File Size":"10B","mime-type":null,"generate-ff-custom-text":"\"Hello Nifi","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"20 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5449ecc2-1637-3ac9-8716-447ce23df33d"},{"identifier":"fe84243a-5ef8-3d82-9037-cf24456a3970","instanceIdentifier":"c65be937-0195-1000-6751-5c5dbc8f8de2","name":"QueryRecord","comments":"","position":{"x":1456.0,"y":312.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"dbf-default-precision":"10","over.30":"select Sales from FlowFile where \"Value\">30","record-writer":"f183167e-e006-36e8-a215-cf25aa7bd78b","record-reader":"b5908074-2c3e-3eb1-bd6b-0211d2b51d2e","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"over.30":{"name":"over.30","displayName":"over.30","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5449ecc2-1637-3ac9-8716-447ce23df33d"},{"identifier":"e1bf0bcc-5c44-3242-903b-504912f31df7","instanceIdentifier":"c66af0a2-0195-1000-abdb-70e33f18f252","name":"PutFile","comments":"","position":{"x":2088.0,"y":-136.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/Users/vinaysaireddymandala/Downloads/Python_Data_Engineering/nifi-2.3.0/tmp/output","Conflict Resolution Strategy":"ignore"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5449ecc2-1637-3ac9-8716-447ce23df33d"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"3684d845-c0d8-301d-bafc-482e68423b61","instanceIdentifier":"c6621206-0195-1000-2bc5-203fe383797d","name":"","source":{"id":"fe84243a-5ef8-3d82-9037-cf24456a3970","type":"PROCESSOR","groupId":"5449ecc2-1637-3ac9-8716-447ce23df33d","name":"QueryRecord","comments":"","instanceIdentifier":"c65be937-0195-1000-6751-5c5dbc8f8de2"},"destination":{"id":"230df01b-44c5-3e5f-9063-46e276df7967","type":"PROCESSOR","groupId":"5449ecc2-1637-3ac9-8716-447ce23df33d","name":"ExtractText","comments":"","instanceIdentifier":"c65f686f-0195-1000-bb65-2361e97d98fb"},"labelIndex":0,"zIndex":0,"selectedRelationships":["over.30"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5449ecc2-1637-3ac9-8716-447ce23df33d"},{"identifier":"8ed70874-063a-3016-bfd8-65eac4179f6a","instanceIdentifier":"c65f27f0-0195-1000-3a66-da335972bb6f","name":"","source":{"id":"f9b2bc82-8807-38ba-80f4-3b381bb75208","type":"PROCESSOR","groupId":"5449ecc2-1637-3ac9-8716-447ce23df33d","name":"SplitRecord","comments":"","instanceIdentifier":"c6570b89-0195-1000-d9a9-3901527fd20c"},"destination":{"id":"fe84243a-5ef8-3d82-9037-cf24456a3970","type":"PROCESSOR","groupId":"5449ecc2-1637-3ac9-8716-447ce23df33d","name":"QueryRecord","comments":"","instanceIdentifier":"c65be937-0195-1000-6751-5c5dbc8f8de2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5449ecc2-1637-3ac9-8716-447ce23df33d"},{"identifier":"6cabe66e-41ab-3e38-94fe-3028a8b26eaa","instanceIdentifier":"ade97714-0195-1000-6509-7cd6ccae5972","name":"","source":{"id":"07cfab48-fe75-35f9-9d2a-774437b12371","type":"PROCESSOR","groupId":"5449ecc2-1637-3ac9-8716-447ce23df33d","name":"GenerateFlowFile","comments":"","instanceIdentifier":"adab878e-0195-1000-c0af-c173efdff6f2"},"destination":{"id":"3d547f27-c188-335b-8a4b-11c203f9b689","type":"PROCESSOR","groupId":"5449ecc2-1637-3ac9-8716-447ce23df33d","name":"PutFile","comments":"","instanceIdentifier":"adabed70-0195-1000-b3dc-9444c40dc72a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5449ecc2-1637-3ac9-8716-447ce23df33d"},{"identifier":"cb8d73dd-2fc9-3f50-b81d-1ba9d0275bfc","instanceIdentifier":"c65a95fa-0195-1000-a23f-25e396a5414f","name":"","source":{"id":"478c6321-7ac0-3d17-9995-eee533c0a370","type":"PROCESSOR","groupId":"5449ecc2-1637-3ac9-8716-447ce23df33d","name":"GetFile","comments":"","instanceIdentifier":"c651ef7e-0195-1000-a058-53e486e465c8"},"destination":{"id":"f9b2bc82-8807-38ba-80f4-3b381bb75208","type":"PROCESSOR","groupId":"5449ecc2-1637-3ac9-8716-447ce23df33d","name":"SplitRecord","comments":"","instanceIdentifier":"c6570b89-0195-1000-d9a9-3901527fd20c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5449ecc2-1637-3ac9-8716-447ce23df33d"},{"identifier":"73fe0a00-8c90-34cc-9c86-1ef4dc58b778","instanceIdentifier":"c66b0340-0195-1000-ae19-8ce03269c2e8","name":"","source":{"id":"1ed73ac2-e17b-33f5-96da-c46c502be282","type":"PROCESSOR","groupId":"5449ecc2-1637-3ac9-8716-447ce23df33d","name":"UpdateAttribute","comments":"","instanceIdentifier":"c6675b70-0195-1000-07d8-de52ec431a0c"},"destination":{"id":"e1bf0bcc-5c44-3242-903b-504912f31df7","type":"PROCESSOR","groupId":"5449ecc2-1637-3ac9-8716-447ce23df33d","name":"PutFile","comments":"","instanceIdentifier":"c66af0a2-0195-1000-abdb-70e33f18f252"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5449ecc2-1637-3ac9-8716-447ce23df33d"},{"identifier":"bbaa765f-cbeb-31bf-9775-012ef1a10ce3","instanceIdentifier":"c667f307-0195-1000-f7ce-1bc92a5dadfc","name":"","source":{"id":"230df01b-44c5-3e5f-9063-46e276df7967","type":"PROCESSOR","groupId":"5449ecc2-1637-3ac9-8716-447ce23df33d","name":"ExtractText","comments":"","instanceIdentifier":"c65f686f-0195-1000-bb65-2361e97d98fb"},"destination":{"id":"1ed73ac2-e17b-33f5-96da-c46c502be282","type":"PROCESSOR","groupId":"5449ecc2-1637-3ac9-8716-447ce23df33d","name":"UpdateAttribute","comments":"","instanceIdentifier":"c6675b70-0195-1000-07d8-de52ec431a0c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5449ecc2-1637-3ac9-8716-447ce23df33d"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"f183167e-e006-36e8-a215-cf25aa7bd78b","instanceIdentifier":"c658142f-0195-1000-a0cc-541281aa2ca6","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5449ecc2-1637-3ac9-8716-447ce23df33d"},{"identifier":"b5908074-2c3e-3eb1-bd6b-0211d2b51d2e","instanceIdentifier":"c657f804-0195-1000-3e6b-ea5897617ad1","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5449ecc2-1637-3ac9-8716-447ce23df33d"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}